@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  list-style-type: none;
}

.main__titulo {
  color: white;
  text-align: center;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  background: url(../images/barrarelleno.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: tituloanimado 60s linear infinite;
          animation: tituloanimado 60s linear infinite;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

@-webkit-keyframes tituloanimado {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes tituloanimado {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.navbar__h1 {
  color: #fff;
}

.navbar__logo {
  max-width: 10vh;
  height: auto;
}

.nav-link {
  color: white !important;
  font-weight: 700 !important;
}

.nav-link:hover {
  color: #8caf0d !important;
}

.nav-link.active {
  color: #8caf0d !important;
}

footer h5 {
  color: #8caf0d;
}

footer p {
  font-size: 0.7em;
}

.footer__a {
  font-weight: 700;
  font-size: 0.9em;
  color: white;
}

.footer__a:hover {
  color: #8caf0d;
}

.main__column {
  color: white;
  text-align: justify;
}

.main__img {
  height: 25vh;
  margin: 1em;
}

@media (min-width: 800px) {
  .main__img {
    height: auto;
  }
}

@media (min-width: 1200px) {
  .main__img {
    -webkit-animation-name: tribal;
            animation-name: tribal;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    max-width: 25vh;
    height: 25vh;
  }
}

.main__p {
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
}

.main__images {
  max-width: 45vh;
  height: auto;
  margin: 2em;
}

@media (min-width: 700px) {
  .main__images {
    max-width: 60vh;
  }
}

@-webkit-keyframes tribal {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    margin: 100px;
  }
  50% {
    margin: 50px;
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes tribal {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    margin: 100px;
  }
  50% {
    margin: 50px;
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.servicios img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-height: 800px;
  padding-top: 10px;
  overflow: hidden;
}

.servicios h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.servicios h6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #8caf0d;
}

@media (max-width: 800px) {
  .servicios h6 {
    font-size: 20px;
  }
}

.servicios__tattoo, .servicios__piercings {
  border: solid 1px #8caf0d;
  padding: 10px;
}

.servicios__piercings {
  border: solid 1px aqua;
}

.estudio {
  height: auto;
}

.estudio__p1, .estudio__p1--p2 {
  color: white;
  text-align: justify;
  border: solid #8caf0d;
  padding: 30px;
  min-width: 30vh;
}

@media (min-width: 700px) {
  .estudio__p1, .estudio__p1--p2 {
    max-width: 60vh;
  }
}

.estudio__p1--p2 {
  border: solid aqua;
}

.estudio__img {
  width: 40vh;
}

@media (min-width: 700px) {
  .estudio__img {
    width: 60vh;
    max-height: 60vh;
  }
}

.artistas h3 {
  color: #8caf0d;
}

.artistas__card {
  width: 25rem;
  margin: 10px;
}

.formulario {
  margin-top: 10px;
  font-size: 12px;
}

legend {
  color: #0c0f0cd8;
  font-size: 28px;
}

.reservas {
  text-align: center;
  color: #ffffff;
}

form {
  margin: 0 auto;
  /* Centrar el formulario en la página */
  max-width: 50vh;
  margin-bottom: 10px;
  /* Esquema del formulario */
  padding: 1em;
  border: 2px solid #8caf0d;
  border-radius: 1em;
  text-align: center;
  background-color: #ffffff;
}

label {
  /* Tamaño y alineación uniforme */
  display: inline-block;
  width: 280px;
  text-align: center;
  color: #394141;
}

.acepto {
  /*Etiqueta acepto que me contacten*/
  color: black;
  background-color: #ffffff;
  font-family: Verdana;
  font-size: 10px;
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */