//Contacto
.formulario{
  padding: 1.5rem;
    margin-right: 10vh;
    margin-left: 10vh;
    border-width: .2rem;
    position: relative;
    border: solid $verde;
    border-radius: 4px 4px 0 0;
    color: white;
}
// .contacto {
//   background-color: $verde;
// }
// .formulario {
//   margin-top: 10px;
//   font-size: 12px;
// }
// legend {
//   color: #0c0f0cd8;
//   font-size: 28px;
// }
// .reservas {
//   text-align: center;
//   color: #ffffff;
// }
// // form {
// //   margin: 0 auto; /* Centrar el formulario en la página */
// //   max-width: 50vh;
// //   margin-bottom: 10px;
// //   /* Esquema del formulario */
// //   padding: 1em;
// //   border: 2px solid $verde;
// //   border-radius: 1em;
// //   text-align: center;
// //   background-color: #ffffff;
//}
label {
  /* Tamaño y alineación uniforme */
  text-align: center;
  color: white;
}
.acepto {
  /*Etiqueta acepto que me contacten*/
  
  
  font-family: Verdana;
  font-size: 14px;
  text-align: left;
}
