//Estudio
.estudio {
  height: auto;
}
.estudio__p1 {
  color: white;
  text-align: justify;
  border: solid $verde;
  padding: 30px;
  min-width: 30vh;
  @media (min-width: 700px) {
    max-width: 60vh;
  }
}
.estudio__p1--p2 {
  @extend .estudio__p1;
  border: solid $celeste;

}
.estudio__img {
  width: 40vh;
  @media (min-width: 700px) {
    width: 60vh;
    max-height: 60vh;
  }
}