//Main

.main__column {
  color: white;
  text-align: justify;
}
.main__img {
  height: 15vh;
  margin: 1em;

  @media (min-width: 700px) {
    @include mw-h (25vh,25vh);    
  }
}
.main__p {
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
}
.main__images {
  @include mw-h (45vh,auto);
  margin: 2em;
  @media (min-width: 700px) {
    max-width: 60vh;
  }
}