//Main
.main__titulo {
  color: white;
  text-align: center;
}
.main__column {
  color: white;
  text-align: justify;
}
.main__img {
  // max-width: 15vh;
  height: 15vh;
  margin: 1em;

  @media (min-width: 700px) {
    max-width: 25vh;
    height: 25vh;
  }
}
.main__p {
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
}
.main__images {
  max-width: 25vh;
  height: auto;
  margin: 2em;
  @media (min-width: 700px) {
    max-width: 60vh;
  }
}