//Servicios

.servicios {
  img {
    display: flex;
    width: 100%;
    max-height: 800px;
    padding-top: 10px;
    overflow: hidden;
  }
  h2 {
    display: flex;
    justify-content: center;
  }
  h6 {
    display: flex;
    justify-content: center;
    color: $verde;
    @media (max-width: 800px) {
      font-size: 20px;
    }
  }
  &__tattoo {
    border: solid 1px $verde;
    padding: 10px;
  }
  &__piercings {
    @extend .servicios__tattoo;
    border: solid 1px $celeste;
  }
}